@tailwind base;
@tailwind components;
@tailwind utilities;

/*Required to ensure that our background DOES NOT bleed white during scrolling.*/
html, body, #root {
    background-color: theme('colors.gray.900');
    overflow-x: hidden;
}

#windy.windy-clean .leaflet-top,
#windy.windy-clean .leaflet-right,
#windy.windy-clean .leaflet-control-zoom,
#windy.windy-clean .leaflet-control-layers,
#windy.windy-clean .leaflet-control-scale {
  display: none !important;
}
